.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(/Menu.svg);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
}

.container__botao:checked~.container-rotulo>.cabeçalho__menu-hamburguer{
    background-image: url(/Menu\ Aberto.png);
}

.container__botao:checked~.container-rotulo{
    background: var(--cor-de-fundo);
}

.cabeçalho{
    background-image:var( --branco-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.cabeçalho-imagem{
    padding: 1rem;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo .lista-menu__item{
    padding: 1rem;
    background-color: var(--branco-branco);
}

.lista-menu__titulo{
    background-color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background-color: var(--cor-de-fundo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}
@media screen and (min-width: 1024px){
    .container__titulo .container__titulo--negrito{
        font-family: var(fonte--segundaria);
        font-size: 30px;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto-preto);
    }

    .imagem-transparente{
        display: none;
    }

    .cabeçalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes-rotulo>.opcoes__item{
        background: var(--cor-de-fundo);
        color: var(--branco-branco);
    }
    .opcoes__item{
        padding: 2em 1em;
    }
    .lista-menu:hover{
        background-color: var(--cor-de-fundo);
    }
    .lista-menu__item:hover>.lista-menu__link{
        -webkit-text-fill-color: var(--branco-branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto-preto);
    }

    .cabeçalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}